:root {
--text-color: #eeeff1;
--link-color: #4a76ee;
--background-color: #1a1c20;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Poppins';
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVIGATION BAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
}

nav .right a{
    color: var(--text-color);
    margin: 0 10px;
    font-size: 20px;
}

nav .right a span{
    margin-left: 5px;
}

/* ABOUT ME */
.about-me{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    color: var(--text-color);
    margin: 50px 0;
    align-items: center;
    margin-bottom: 100px;

}

.about-me .text{
    flex: 5;
   
}

.about-me .text h2{
    font-size: 35px;
    padding: 20px 0;
}

.about-me .text .links{
    margin-top: 25px;
}

.about-me .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.about-me .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
  }

.about-me .rutgers{
    flex: 2;
    display: flex;
    justify-content: right;
  
}

.about-me .rutgers img {
    width: 600px;
    padding: 20px 70px;
   
  }


/*PROJECTS*/

.projects-section {
    padding: 0 50px;
    margin-top: 100px;
    color: var(--text-color);
}

.projects-section h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.projects-section .github-image{
    flex: 2;
    display: flex;
    justify-content: right;
    margin-top: -250px; 
}

/* SECTION 4: Contact */
.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
    color: var(--text-color);
  }
  
  .contact-section h2 {
    font-size: 35px;
  }
  
  .contact-section .group {
    display: flex;
    gap: 50px;
  }
  
  
  .contact-section .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
  }
  
  .contact-section .group form input,
  .contact-section .group form textarea {
    font-family: 'Poppins', sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
  }
  
  .contact-section .group form button {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: .1s;
  }
  
  .contact-section .group form button:hover {
    filter: brightness(.9);
  }























@media (max-width: 850px){
    /*About Me */
    .about-me .text h2{
        font-size: 35px;
    }
}

@media (max-width: 740px){
    /*About Me */
    .about-me{
        flex-direction: column-reverse;
    }

    .about-me .rutgers img{
        width: 300px;
    }

}



@media (max-width: 600px) {
   /* NAVIGATION BAR */
    nav {
        padding: 0 20px;
    }

    nav .right a{
       font-size: 22px;
    }
    
    nav .right a span{
        display: none;
    }


}


